*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;;
}

body{
    height: 100vh;
    background:#FFBF00;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.login-header .login-logo{
    font-size: 3em;
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
}

.login-home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px 0;
}

.login-home .login-content{
 max-width: 600px ;
 color: #FFF;
}

.login-content h2{
    font-size: 3em;
    letter-spacing: .03em;
    padding-bottom: 1rem;
    font-weight: 700;
}

.login-content p{
    margin: 8px 0 40px;
    font-size: 35px;
}

.login-home .wrapper-login{
    position: relative;
    width: 440px;    
}

.wrapper-login h2{
    font-size: 2em;
    color: #FFF;
    text-align: center;
    font-weight: 600;
}

.wrapper-login .login-input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

button a{
    color: white;
}

.Login-page-link{
    text-decoration: none;
}

.login-input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid #FFF;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #FFF;
    padding: 0 25px 0 45px;
}

.login-input-box label{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #FFF;
    pointer-events: none;
    transition: .5s;
}

.login-input-box input:focus~label,
.login-input-box input:valid~label{
    font-size: .8em;
    top: -17px;
    left: 17px;
}

.login-input-box .login-icon{
    position: absolute;
    top: 14px;
    left: 15px;
    font-size: 1.2em;
    color: #FFF;

}

.wrapper-login .login-remember-forgot{
    font-size: .9em;
    color: #FFF;
    margin: -25px 0 15px;
    display: flex;
    justify-content: space-between;
}

.login-remember-forgot label input{
    accent-color: #FFBF00;
    margin-right: 3px;
}

.login-remember-forgot a{
    color: #FFF;
    text-decoration: none;
}

.login-remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper-login .login-btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #1E3A8A;
    box-shadow: 0 8px 10px rgba( 0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: #FFF;
    font-weight: 500;
}

.wrapper-login .login-btn:hover {
  background: #152C6B; 
  transform: translateY(-2px); 
}

.wrapper-login .login-register-link{
     font-size: .9em;
     color: #FFF;
     text-align: center;
     margin: 30px 0;
}

.login-register-link p a{
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
}

.login-register-link p a:hover{
    text-decoration: underline;
}