@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root{
    --primary-color: hsl(265, 60%, 45%);
    --second-primary-color: rgba(113, 99, 186, 255);
    --primary-color-dark: hsl(265, 60%, 35%);
    --secondary-color: hsl(240, 10%, 90%);
    --background-color: hsl(240, 10%, 97%);
    --text-color: hsl(240, 10%, 20%);
    --text-muted-color: hsl(240, 5%, 50%);
    --card-bg-color: #fff;
    --border-color: hsl(240, 10%, 85%);
    --white-color: #fff;
    --radius: 0.5rem;
    --shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.light-red{
    background: rgb(251, 233, 233);
}
.light-purple{
    background: rgb(254, 226, 254);
}
.light-green{
    background: rgb(235, 254, 235);
}
.light-blue{
    background: rgb(236, 236, 254);
}
.light-yellow{
    background: rgb(245, 240, 111);
}
.dark-red{
    background: red;
}
.dark-purple{
    background: purple;
}
.dark-green{
    background: green;
}
.dark-blue{
    background: blue;
}
.dark-yellow{
    background: yellow;
}

body{
    display: flex;
}

/*=============== SIDEBAR =================  */

.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100vh;
    padding: 0 1.7rem;
    transition: all 0.5s linear;
    background: var(--primary-color);
    list-style: none;
    cursor: pointer;
}

.sidebar:hover{
    width: 240px;
    transition: 0.2s;
}

.logo{
    height: 50px;
    padding: 15px;
}

.menu{
    height: 80%;
    position: relative;
    list-style: none;
    padding: 0;
}

.menu li{
    padding: 1rem;
    margin: 2px 0;
    border-radius: 8px;
    transition: all 0.5s linear;
}

.menu li:hover{
    background: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;  
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
}

.menu a span{
    overflow: hidden;
}

.menu a i{
    font-size: 1.2rem;
}

.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logout:hover{
      background: rgb(146, 79, 79);
}

/*=============== MAIN PAGE =================  */

.Main-page{
    position: relative;
    width: calc(100% - 110px);
    min-height: 100vh;
    background: #f1f1f1;
}

.main--content{
    position: relative;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.header--wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background: #fff;
    border: 12px;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title{
    color: var(--primary-color);
}

.user--info{
    display: flex;
    align-items: center;
    gap: 1ren;
}
.search-box{
    background: rgb(237, 237, 237);
    border-radius: 15px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 10px 2px 15px;
    margin-right: 1rem;
}
.search-box input{
    background: transparent;
    padding: 7px;
}
.search-box i{
    font-size: 1.1rem;
    cursor: pointer;
} 

/* =============== COURIER DASHBOARD CARDS =================  */

.courier-card-container{
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.main--title{
    color: var(--primary-color);
    padding-bottom: 10px;
    font-size: 15px;
}

.order-info{
    background: #f9fafb;
    border-radius: 10px;
    padding: 1.2rem;
    width: 250px;
    height: 110px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.20);
}

.order-info:hover{
    transform: translateY(-5px);
}

.card--header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Total-orders{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 15px;
    font-weight: 500;
}

.order-numbers{
    font-size: 27px;
}
.icon{
    color: #fff;
    padding: 0.95rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--primary-color);
}


/* ============== MODAL OVERLAY & CONTAINER ============== */
.modal-container {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.36);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

/* ============== MODAL WRAPPER ============== */

.tabular--wrapper{
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.modal-wrapper {
  background: #fff;
  width: 100vw;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  padding: 1rem;
  box-shadow: 0 10px 32px 0 rgba(60,60,60,0.16);
  display: flex;
  flex-direction: column;
  
}

.modal-column-left,
.map-container{
  padding: 1rem;
}

/* ============== MODAL HEADER ============== */
.modal-header {
  background: var(--primary-color);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.modal-header + .modal-column-left,
.modal-header + .modal-column-left{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

.details-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  align-items: center;
  gap: 4rem;
}

.details-row p{
    margin: 0.5rem;
    white-space: nowrap;  /* prevent wrapping */
}

.details-row p:first-child {
  flex: 0 0 200px;                
  text-align: left;
}

.details-row p:last-child {
  flex: 1;              
  text-align: right;      
  margin-left: auto;
  padding-left: 7rem;
}

.modal-title {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: color 0.2s;
}
.close-modal:hover {
  color: #ffd4b0;
}

/* ============== MAP CONTAINER ============== */

.map-container{
    margin: 1.5rem auto;
    margin-left: 1.4rem;
    padding: 1.5rem;
    background: #f9fafb;
    border-radius: 10px;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.10);
    display: inline-block;
    text-align: center;
    width: fit-content;
    border-top: 2px solid #CCC;
}

.map-container h4{
    margin-bottom: 0.85rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #222;
}

.map-container iframe{
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 465px;
    height: 300px;
}

/* ============= ORDER ITEMS ============== */

.order-card{
    display: flex;
    align-items: center;
    width: 540px;
    background: #fafafafb;
    padding: 0.75rem 1.4rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    border-bottom: 2px solid #CCC;
}

.order-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

.order-left img {
  margin-right: 1rem;
  width: 60px;
  height: 65px;
  border-radius: 10px;
  object-fit: cover;
}

.order-left .product-info{
    display: flex;
    flex-direction: column;
}

.order-left h3{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.order-left p{
    margin: 0.30rem 0 0 0;
    font-size: 1rem;
    color: #555;
}

.order-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    min-width: 85px;
}

.order-right p{
    margin: 0;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}

.order-right p:first-child {
  margin-top: 0.30rem;
  font-size: 1rem;
  color: #222;
  font-weight: 400;
}

.order-right p:last-child {
  margin-top: 0.25rem;
  font-size: 0.95rem;
  color: #555;
}

/* ============== SUBTOTAL ================ */

.order-subtotal{
    border-top: 2px solid #CCC ;
    margin-top: 1.1rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    color: #333;
}

.subtotal-row,
.fee-row,
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.sub-left,
.fee-left,
.total-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    text-align: left;
}

.total-left p{
    color: green;
}

.total-right{
    color: green;
}

.sub-right, 
.fee-right,
.total-right{
    text-align: right;
    margin-left: auto;
}

.sub-right, .price-right,
.fee-right, .price-right,
.total-right, .price-right{
    font-weight: 600;
    white-space: nowrap;
}

.total-price{
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin-top: 0.4rem;
    padding: 7px 0;
}

/* ============== PAYMENT STATUS =============== */

.value-payment{
    font-weight: bold;
    color: green;
}

.customer-details{
    margin-top: 1.5rem;
    border-top: 2px solid #CCC;
}

.customer-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}

.customer-row .label{
    font-weight: 600;
}

.customer-row .value{
    text-align: right;
    margin-left: 1rem;
}

.om-row{
    font-weight: 700;
    color: green;
}

/* ============== ORDER MANAGEMENT CSS =============== */

.om-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fbfbfb;
    width: 80%;
}

/* ============== HEADER ================ */

.om-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--card-bg-color);
    padding: 15px;
    border-radius: var(--radius);
    margin-bottom: 20px;
    box-shadow: var(--shadow);
    position: relative;
    overflow: hidden;
}

.om-header-title{
    display: flex;
    align-items: center;
}

.om-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 5px;
}

.om-header-title div{
    display: flex;
    flex-direction: column;
}

.om-header-title h1{
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.om-header-title p{
    margin: 0;
    font-size: 15px;
    color: var(--text-muted-color);
}

.om-header-stats{
    display: flex;
    align-items: center;
}

.om-header-stats span{
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
}


/* ============== STATUS BAR ================ */
.om-status-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: var(--card-bg-color);
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.om-status-item{
    background: var(--card-bg-color);
    padding: 10px;
    border-radius: 10px;
    margin: 0 5px;
    flex: 1;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.om-status-item span{
    display: block;
}

.om-count{
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 5px;
}

/* ============== TABS ORDER STATUS HTML ================ */

.om-tabs{
    display: flex;
    gap: 10px;
    margin: 1rem 0;
    justify-content: center;
    margin: 0 auto;
}

.om-tabs button{
    padding: 0.5rem 1rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.om-tabs button:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* ============== ORDER GRID AND CARDS ================ */
.om-order-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.om-order-card{
    background: var(--card-bg-color);
    padding: 15px;
    border-radius: var(--radius);
    box-shadow: 7px 10px 7px 2px  rgba(2, 2, 2, 0.20);
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.om-order-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.om-order-header span:first-child{
    font-weight: 700;
}

.om-order-header span:nth-child(2){
    color: var(--text-muted-color);
}

/* STATUS STYLES */
.om-status.pending{
    background:  orange;
    color: var(--white-color);
    padding: 2px 8px;
    border-radius: var(--radius);
    font-size: 12px;
}

.om-status.active{
    background:  green;
    color: var(--white-color);
    padding: 2px 8px;
    border-radius: var(--radius);
    font-size: 12px;
}

.om-status.delivered{
    background: var(--second-primary-color);
    color: var(--white-color);
    padding: 2px 8px;
    border-radius: var(--radius);
    font-size: 12px;
}

.om-status.cancelled{
    background:  red;
    color: var(--white-color);
    padding: 2px 8px;
    border-radius: var(--radius);
    font-size: 12px;
}


.om-order-details p{
    margin: 5px 0;
    color: var(--text-color);
}

.om-order-details ul{
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
}

.om-order-details li{
    margin: 2px 0;
}

/* ============== ORDER CARD FOOTER ================ */
.om-order-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.om-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.om-price {
  font-weight: 700;
}

.om-eta {
  font-weight: 700;
  text-align: right;
}

.om-order-actions{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.om-action-btn{
    padding: 8px 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    flex: 1;
    margin-left: 5px;
}

.om-action-btn:first-child{
    margin-left: 0;
}

.primary{
    background: var(--primary-color);
    color: var(--white-color);
}

/* ============== TABLES SECTION =============== */

.table-container{
    width: 100%;
    overflow: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

thead{
    background: rgb(250, 128, 146);
    color: #fff;
}

th{
    padding: 15px;
    text-align: left;
}

tbody{
    background: #f2f2f2;
}

td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}

tr:nth-child(even){
    background: #f9f9f9;
}
tfoot{
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
    color: #fff;
}
.table-container button{
    color: green;
    background: none;
    cursor: pointer;
}

.status{
    font-weight: bold;
}

.status.Active{
    color: green;
}

.status.Pending{
    color: orange;
}

.status.Cancelled{
    color: red;
}

.status.out-delivery{
    color: var(--second-primary-color);
}

.details-row p .status .out-for-delivery{
    color: var(--second-primary-color);
    border: #222;
    border-width: 2px;
    border-style: solid;
    width: 20px;
    height: 25px;
}

/* ============== COURIER PROFILE CSS =============== */
.courier-profile{
    max-width: 650px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(2, 2, 2, 0.20);
    background: var(--white-color);
}

.profile-header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.courier-photo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
}

.profile-info h2{
    margin: 8px 0 2px;
    font-weight: 700;
}

.online-status{
    color: green;
    font-weight: 600;
}

.profile-form{
    width: 100%;
}

.profile-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.profile-group{
    flex: 1;
    font-weight: 700;
}

.profile-group input{
    padding: 5px 8px;
    border: 1px solid #CCC;
    border-radius: 10px;
    text-align: left;
}

.edit-btn{
    display: block;
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    color: var(--text-color);
}

.edit-btn:hover{
    background: #005cb3;
    color: var(--white-color);
}




/* ============== RESPONSIVE DESIGN FOR ORDER STATUS HTML=============== */

@media (max-width: 768px) {
    .om-order-grid {
        grid-template-columns: 1fr; /* Single column on mobile */
    }
    .om-status-bar {
        flex-direction: column;
    }
    .om-status-item {
        margin: 5px 0;
    }
    .om-order-actions {
        flex-direction: column;
    }
    .om-action-btn {
        margin: 5px 0;
        width: 100%;
    }
}